In [121]:
import numpy as np
import pandas as pd
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [122]:
data = pd.read_csv('C:/IMDB/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
617,tt1010048,15000000,377910544,Slumdog Millionaire,Dev Patel|Freida Pinto|Anil Kapoor|Mia Drake I...,Danny Boyle|Loveleen Tandan,What does it take to find a lost love? A. Mone...,Jamal Malik is an impoverished Indian teen who...,120,Drama|Romance,Celador Films|Warner Bros.|Film4,5/12/2008,7.5,2008
1507,tt0405296,8500000,5480996,A Scanner Darkly,Keanu Reeves|Winona Ryder|Woody Harrelson|Robe...,Richard Linklater,Everything Is Not Going To Be OK,An undercover cop in a not-too-distant future ...,100,Animation|Science Fiction|Thriller,Thousand Words|Warner Independent Pictures (WI...,5/25/2006,6.7,2006
669,tt0497465,15000000,96408652,Vicky Cristina Barcelona,Scarlett Johansson|Rebecca Hall|Javier Bardem|...,Woody Allen,Life is the ultimate work of art,Two girlfriends on a summer holiday in Spain b...,96,Drama|Romance,The Weinstein Company|Gravier Productions|Ante...,8/15/2008,6.7,2008
1821,tt0190590,26000000,71000000,"O Brother, Where Art Thou?",George Clooney|John Turturro|Tim Blake Nelson|...,Joel Coen,They have a plan...but not a clue.,"In the deep south during the 1930s, three esca...",106,Action|Adventure|Comedy,Universal Pictures|Studio Canal|Touchstone Pic...,8/30/2000,7.2,2000
74,tt1014763,50000000,3324330,Child 44,Tom Hardy|Gary Oldman|Noomi Rapace|Joel Kinnam...,Daniel Espinosa,How do you find a killer who doesnâ€™t exist?,"Set in Stalin-era Soviet Union, a disgraced MG...",137,Crime|Thriller,Summit Entertainment|Scott Free Productions|Wo...,3/15/2015,5.9,2015

In [123]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [124]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [125]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [126]:
data = pd.read_csv('C:/IMDB/movie_bd_v5.csv')
c = data.nlargest(1, columns=['budget'])['original_title']
c.sort_values()

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [127]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [128]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
top_runtime_movie = data.nlargest(1, columns=['runtime'])['original_title']
answers['2'] = '2. Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [129]:
min_runtime_movie = data.nsmallest(1, columns=['runtime'])['original_title']
answers['3'] = '3. Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [130]:
data.describe()
answers['4'] = '2. 109.658549'

# 5. Каково медианное значение длительности фильмов?

In [131]:
data.describe()
answers['5'] = '1. 107.000000'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [132]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue']-data['budget']
profit_max = data['profit'].max()
film = data[data.profit == profit_max]
film ['original_title']
answers['6'] = '5. Avatar'

# 7. Какой фильм самый убыточный?

In [133]:
data['profit'] = data['revenue']-data['budget']
profit_min = data['profit'].min()
film = data[data.profit == profit_min]
answers['7'] = '5. The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [134]:
budget_nul = data[(data.revenue > data.budget)]
len(budget_nul)
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [135]:
film_2008 = data[data['release_year']==2008]
film_2008.sort_values(by='revenue')
answers['9'] = '4. The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [136]:
data['profit'] = data['revenue']-data['budget']
film_12_14 = data[data.release_year.between(2012,2014)]
film_12_14.sort_values(by='profit')
answers['10'] = '5. The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [137]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
max_genres = data['genres'].str.split('|').explode().value_counts()
print(max_genres)
answers['11'] = '3. Drama'

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [138]:
data['profit'] = data['revenue']-data['budget']
profit_film = data[data.profit > 0].copy() 
profit_film.genres = profit_film.genres.str.split('|') 
profit_genres = profit_film.explode('genres').genres
profit_genres.value_counts()
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [139]:
data_by_director = data.copy()
data_by_director.director = data_by_director.director.apply(lambda s: str(s).split("|"))
data_by_director = data_by_director.explode("director")
data_by_director.groupby("director").revenue.sum().sort_values(ascending=False).index[0]
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [140]:
data_action = data[data.genres.str.contains("Action", na=False)].copy()
data_action.director = data_action.director.str.split('|')
data_action = data_action.explode('director')
data_action.groupby(['director']).count().sort_values(by='genres',ascending=False)
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [141]:
films_2012 = data[data.release_year == 2012].copy()
films_2012 ['cast'] = films_2012 ['cast'].str.split('|')
films_2012  = films_2012 .explode('cast')
films_2012.groupby('cast').revenue.sum().sort_values(ascending=False)
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [142]:
max_cast = pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]
print(max_cast)
answers['16'] = '3. Matt Damon'

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [143]:
nic_c = data.copy()
nic_c[nic_c.cast.str.contains("Nicolas Cage")].genres.str.split('|').explode().value_counts()
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [144]:
data['profit'] = data['revenue']-data['budget']
Paramount_df = data[data['production_companies'].str.contains('Paramount Pictures')]
Paramount_df[['profit', 'original_title', 'production_companies']].sort_values('profit', ascending=False)[-10:]
answers['18'] = '1. K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [145]:
data_1 = data.copy()
data_1 = data_1.groupby(['release_year']).revenue.sum().sort_values(ascending=False).index[0]
data_1
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [156]:
warner_df = data.copy()
warner_df = data[data['production_companies'].str.contains('Warner Bros')] 
warner_df.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [147]:
data.release_date = pd.to_datetime(data.release_date)
data.release_date.dt.month.value_counts()
answers['21'] = '4. Сентябрь '

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [148]:
data.release_date = pd.to_datetime(data.release_date)
data[data.release_date.dt.month.isin([6,7,8])].shape[0]
answers['22'] = '2. 450 '

# 23. Для какого режиссера зима – самое продуктивное время года?

In [149]:
winter_director = data.copy()
winter_director['director'] = winter_director['director'].str.split('|')
winter_director = winter_director.explode('director')
winter_director['release_date'] = winter_director['release_date'].dt.month.isin([12, 1, 2])
winter_director.groupby('director')['release_date'].sum().sort_values(ascending=False)
answers['23'] = '5. Peter Jackson '

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [150]:
data_24 = data.copy()
data_24['production_companies'] = data_24['production_companies'].str.split('|')
data_24 = data_24.explode('production_companies')
data_24['lenght'] = data_24['original_title'].str.len()
data_24.groupby('production_companies').mean()[['lenght']].sort_values(by='lenght',ascending=False)
answers['24'] = '5. Four By Two Productions '

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [151]:
data_25 = data.copy()
data_25['production_companies'] = data_25['production_companies'].str.split('|')
data_25 = data_25.explode('production_companies')
data_25['lenght'] = data_25['overview'].str.len()
data_25.groupby('production_companies').mean()[['lenght']].sort_values(by='lenght',ascending=False)
answers['25'] = '3. Midnight Picture Show '

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [152]:
import itertools as it


data_title = data.copy()
data_title['cast'] = data_title['cast'].str.split('|')
data_title['cast'] = data_title['cast'].apply(lambda x: tuple(it.combinations(sorted(x),2)))
data_title['cast'].explode().value_counts()
answers['27'] = '5. Emma Watson, Rupert Grint '

# Submission

In [157]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals',
 '3': '3. Winnie the Pooh',
 '4': '2. 109.658549',
 '5': '1. 107.000000',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '21': '4. Сентябрь ',
 '22': '2. 450 ',
 '23': '5. Peter Jackson ',
 '24': '5. Four By Two Productions ',
 '25': '3. Midnight Picture Show ',
 '27': '5. Emma Watson, Rupert Grint ',
 '20': '1. 2014'}

In [158]:
# и убедиться что ни чего не пропустил)
len(answers)

26